{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h1>За всю свою жизнь я научися</h1>
  
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Ремонтировать компьютеры и оргтехнику, заправлять картриджы,
        программировать на языках Pascal и C++,
        а еще:
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Python
      </li>
    </ul>
  </aside>
  
  <article class="col-12 col-md-9">
    <p>В моем проекте использовано много технологий,
    если будет время, то я их обязательно перечислю </p>
  </article>
</div>
{% endblock %} 